---
title: Inter-Club Council (ICC)
date: 2015-11-17 01:00:51
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <!-- BEGIN CONTENT -->
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <div class="row margin-bottom-30">      
	
	  	<p>
	  		<strong>NOTE:</strong>  all ICC Documents, including the CLUB LIST are located in the "FORMS & DOCUMENTS" page, see left-side menu.
	  	</p>
	  	<h3 class="no-top-space">
	  		<b class="wow fadeIn animated animated require" style="visibility: visible; animation-name: fadeIn;">What is the ICC?</b>
	  	</h3><br>
	  	<p>	
	  		The Inter-Club Council is a body under the Associated Students of Santa Monica College. 
	  		<br><br>The purpose of the Inter-Club Council shall be:
	  	</p>
	  	<!-- BEGIN LISTS -->
	 	<div class="row front-lists-v1">
	 	  <div class="col-md-9">
	 	    <ul>
	 	    	<li>To promote student awareness of and participation in SMC clubs.</li>
				<li>To establish coordination, communication and cooperation among the officially registered student clubs.</li>
				<li>To promote the development of student leadership and service.</li>
				<li>To promote campus and public awareness of Inter-Club Council activities.</li>
	 	    </ul>
	 	    <h3>
	 	    	<b class="wow fadeIn animated animated require" style="visibility: visible; animation-name: fadeIn;">The ICC is the voice of all your club members!</b>
	 	    </h3><br>
	 	    <ul>
	 	    	<li>Each Club has three elective ICC representatives (one of the reps. is the club president) who can represent the club during ICC meetings.</li>
				<li>Only one ICC representative needs to be present to represent the club.</li>
				<li>Anyone can attend the ICC meetings it is an open meeting, but only the club's ICC representatives can represent the club during the ICC meetings.</li>
				<li>The INTER-CLUB COUNCIL will hold ICC Elections in the Spring Semester, usually the last ICC meeting.</li>
				<li>All the Club ICC Representatives and Presidents are eligible to run for the three ICC Officer Positions.</li>
				<li>The 3 elected officers will become the ICC OFFICERS who will serve on the Associated Students Board of Directors.</li>
				<li>The AS Board of Directors' offices are located in the AS OFFICE Cayton Center, Room #202.</li>
				<li>The ICC Officers are listed on the "AS BOARD OF DIRECTORS" page.</li>
	 	    </ul>
	 	    <br><br>
	 	    <p>
	 	    	<b class="wow fadeIn animated animated require" style="visibility: visible; animation-name: fadeIn; font-size: 140%;">
	 	    	<a href="https://www.google.com/calendar/embed?src=615ukd2gp0mpg6jvdu13j3d63k%40group.calendar.google.com&amp;ctz=America/Los_Angeles">ICC DELEGATES' CALENDAR</a></b>
	 	    	&nbsp;&nbsp; is for the club delegates and club presidents only.&nbsp; This calendar includes all relevant ICC Meetings, Packet Deadlines, and other important dates for ICC Delegates/Presidents of clubs.
	 	    </p>
	 	  </div>
	 	</div>
	  	<!-- END LISTS -->
    </div> 
  <!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->
