---
title: Benfits
date: 2015-11-17 01:00:51
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <!-- BEGIN CONTENT -->
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <div class="row margin-bottom-30">
	<!-- BEGIN INFO BLOCK -->               
	<div class="col-md-7">
	  <h2 class="no-top-space">A.S. MEMBERSHIP BENEFITS</h2>
	  <h4>Buy your A.S. STICKER at the SMC Bursar's Office today.</h4>
	  <h4>Look at all these BENEFITS you get for Only $19.50 per Semester / Session</h4>
	  <h4>-  Access to A.S. Computer Lab & Free limited Printing ($15 value) (located above the cafeteria)</h4>
	  <h4>-  Free Scantrons & Blue Books</h4>
	  <h4>-  Campus Concerts, Speaker Series (Tuesday and Thursday at 11:15am Activity Hr.)</h4>
	  <h4>-  Join one of our 50 plus clubs or Start a Club!</h4>
	  <h4>-  Funding for Club Activities and Projects</h4>
	  <h4>-  Discounts tickets for some SMC theater productions.  Sold at the SMC Theater Box Office</h4
	  <h4>-  Leadership Opportunities (Elected or Appointed)</h4>
	  <h4>-  Student Advocacy & Leadership appointments at Regional and Statewide levels.</h4>
	  <h4>-  A.S. Evening Events</h4>
	  <h4>-  Free Admission to SMC athletic events</h4>
	  <h4>-  Kinecta Credit Union – Membership Now Available to Students! www.kinecta.org</h4>
	  <h4>-  Funding assistance for SMC Departments & SMC Programs</h4>
	  <h4>-  Leadership & Study Abroad Scholarship opportunities (see Scholarship Office)</h4>
	  <h4>-  Monetary Rewards for eligible students representing students on campus committees.

</h4>
	  <h4>-  Free Bicycle Repair Class with use of shop hours/tools at www.Bikerowave.org </h4>
	  <h4>-  BIG BLUE BUS CITY TRANSPORTATION: Supports the “Any Time, Any Line” Ride the Big Blue Bus as many times & any Big Blue Bus lines FREE with your AS Membership- just swipe your SMC ID CARD on the bus!</h4>
	  <!-- BEGIN LISTS -->
	  <div class="row front-lists-v1">
	    <div class="col-md-6">
	      <ul class="list-unstyled margin-bottom-20">
	      </ul>
	    </div>
	    <div class="col-md-6">
	      <ul class="list-unstyled">
	      </ul>
	    </div>
	  </div>
	  <!-- END LISTS -->
	</div>
	<!-- END INFO BLOCK -->   

	<!-- BEGIN CAROUSEL -->            
	<div class="col-md-5 front-carousel">
	  <div id="myCarousel" class="carousel slide">
	    <!-- Carousel items -->
	    <div class="carousel-inner">
	      <div class="item active">
                <img src='../metronic/assets/pages/img/index-sliders/slide1.jpg'>
		<div class="carousel-caption">
		  <p>Excepturi sint occaecati cupiditate non provident</p>
		</div>
	      </div>
	      <div class="item">
                <img src='../metronic/assets/pages/img/index-sliders/slide2.jpg'>
		<div class="carousel-caption">
		  <p>Ducimus qui blanditiis praesentium voluptatum</p>
		</div>
	      </div>
	      <div class="item">
                <img src='../metronic/assets/pages/img/index-sliders/slide3.jpg'>
		<div class="carousel-caption">
		  <p>Ut non libero consectetur adipiscing elit magna</p>
		</div>
	      </div>
	    </div>
	    <!-- Carousel nav -->
	    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
	      <i class="fa fa-angle-left"></i>
	    </a>
	    <a class="carousel-control right" href="#myCarousel" data-slide="next">
	      <i class="fa fa-angle-right"></i>
	    </a>
	  </div>                
	</div>
	<!-- END CAROUSEL -->
      </div>

      <div class="row margin-bottom-40">
	<!--
	<!-- BEGIN TESTIMONIALS -->
	
	<!-- END TESTIMONIALS -->
	--> 

	<!-- BEGIN PROGRESS BAR -->
	                       
	<!-- END PROGRESS BAR -->
      </div>

	      </ul>
	    </div>
	  </li>
	</ul>