---
title: Forms & Documents
date: 2016-05-8 15:49:51
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="margin-bottom-40">
  <!-- BEGIN CONTENT -->
    <div class="content-page">
  <div class="row margin-bottom-30">
		  <!-- BEGIN INFO BLOCK -->
		  <div class="col-md-7">
	 	  	<p>
		 		The following forms are for SMC Departments and SMC Student Organizations use only. <br>Please complete and submit to the Associated Students Office by the applicable deadline.<br>Incomplete or illegible forms will be returned to you, and it may delay your requests.<br>
			</p>
		</div>
			<div id = "note">
		 		NOTE:  SUBMIT ALL COMPLETED PAPERWORK FROM THIS PAGE, TO THE ASSOCIATED <span id = "align-colon">STUDENTS OFFICE, LOCATED IN THE CAYTON CENTER, 2ND FLOOR, ROOM #202, ABOVE THE CAFETERIA. FOR MORE INFORMATION CONTACT THE ASSOCIATED STUDENTS OFFICE AT  310.434.4250 <br></span>
				<br><br><br><br>A.S. Office Hours:   Fall & Spring Semesters-  Mon-Thur 8:30am-6pm;   Fri 8:30am-5pm<span id = "align-colon2">Summer & Winter Sessions-  Mon-Thur 8:30am-5pm;  Fri 8:30am-1pm</span>
			</div>


	  		<!-- BEGIN LISTS -->
			 <div id="col-md-7">
	  			<div class="row front-lists-v1">
	    			<div class="col-md-6">
						<br>
						<h3 class="no-top-space"; id = "asStudents">Associated Students (A.S.) </h3>
	      					<ol id = "roman-ordered-list">
			  					<li class = "formstitle"> <h4> A.S. Government Documents, Policy & Applications</h4> </li>
								<ol>
									<li id = ""><a href="http://www.smc.edu/StudentServices/AssociatedStudents/Documents/AS%20CONSTITUTION%20AND%20BLAWS/NEW%202014%20Approved%20Constitution%20and%20By-Laws.pdf"> A.S. CONSTITUTION & BYLAWS </a>   (constitution approved 4/2014; bylaws approved 5/2014)  </li>
								</ol>
	      					</ol>
	    			</div>

				<div class="col-md-6">
	      			<ul class="list-unstyled">
	      			</ul>
	  			</div>

	  			</div>
	  	<!-- END LISTS -->
	</div>
		</div>
	<!-- END INFO BLOCK -->
  		</div>
  		<!-- END CONTENT -->
	<!-- END SIDEBAR & CONTENT -->
</div>
