---
title: Forms & Documents
date: 2016-05-8 15:49:51
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="margin-bottom-40">
  <!-- BEGIN CONTENT -->
    <div class="content-page">
  <div class="row margin-bottom-30">
		  <!-- BEGIN INFO BLOCK -->
		  <div class="col-md-7">
	 	  	<p>
		 		The following forms are for SMC Departments and SMC Student Organizations use only. <br>Please complete and submit to the Associated Students Office by the applicable deadline.<br>Incomplete or illegible forms will be returned to you, and it may delay your requests.<br>
			</p>
		</div>
			<div id = "note">
		 		NOTE:  SUBMIT ALL COMPLETED PAPERWORK FROM THIS PAGE, TO THE ASSOCIATED <span id = "align-colon">STUDENTS OFFICE, LOCATED IN THE CAYTON CENTER, 2ND FLOOR, ROOM #202, ABOVE THE CAFETERIA. FOR MORE INFORMATION CONTACT THE ASSOCIATED STUDENTS OFFICE AT  310.434.4250 <br></span>
				<br><br><br><br>A.S. Office Hours:   Fall & Spring Semesters-  Mon-Thur 8:30am-6pm;   Fri 8:30am-5pm<span id = "align-colon2">Summer & Winter Sessions-  Mon-Thur 8:30am-5pm;  Fri 8:30am-1pm</span>
			</div>


	  		<!-- BEGIN LISTS -->
			 <div id="col-md-7">
	  			<div class="row front-lists-v1">
	    			<div class="col-md-6">
						<br>
						<h3 class="no-top-space"; id = "asStudents"> Associated Students (A.S.) </h3>
	      					<ol id = "roman-ordered-list">
			  					<li class = "formstitle"> <h4> A.S. Government Documents, Policy & Applications </h4> </li>
								<ol>
									<li id = ""><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/AS%20CONSTITUTION%20AND%20BLAWS/NEW%202014%20Approved%20Constitution%20and%20By-Laws.pdf"> A.S. CONSTITUTION & BYLAWS </a> (constitution approved 4/2014; bylaws approved 5/2014) </li>
									<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/AS%20FORMS%20and%20DOCS/FLYER%20-%20AS%20DIRECTORS%20and%20MEETINGS%20-%20Spring%202016.pdf"> A.S. DIRECTORS & MEETINGS SPRING 2016​ </a></li>
									<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/AS%20FISCAL%20POLICY/11th%20EDITION%20-%20AS%20FISCAL%20POLICY%20-%20Approved%20May%202015.pdf"> A.S. NEW FISCAL POLICY </a> (approved May 2015 - 11th Edition) </li>
									<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/AS%20FORMS%20and%20DOCS/POSTING%20POLICY%20SMC%20AND%20AS.pdf"> A.S. Posting Policy </a></li>
									<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/AS%20FORMS%20and%20DOCS/FLYER%20-%20LEASERSHIP%20%20OPPORTUNITIES%20%20for%20SMC%20Students.pdf"> A.S. Student Leadership Opportunities </a></li>
									<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/AS%20APPLICATIONS/APPLICATION%20-%20%20NEW%20COMMISSIONER%20APPLICATION%202016.pdf"> A.S. Commissioner Application​ </a> (become an assistant to one of the A.S. Directors) </li>
									<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/AS%20APPLICATIONS/APPLICATION%20AS%20REPRESENTATIVES%202012.pdf"> A.S. Representative Application </a> (representing the student body on SMC Campus-Wide Committees) </li>
									<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/AS%20FORMS%20and%20DOCS/FLYER%20-%20SMC%20Committees%20Info.pdf"> A.S. FLYER:  SMC Campus-Wide COMMITTEES Information​ </a> (for AS REPRESENTATIVES) </li>
									<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/AS%20FORMS%20and%20DOCS/blank%20timesheet%20for%20AS%20Reps.pdf"> A.S. REPRESENTATIVES TIMESHEET </a> (after you are assigned to a SMC Committee, keep track of hours) </li>
									<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/AS%20FORMS%20and%20DOCS/FERPA%20AS%20FLYER.pdf"> A.S. FLYER:  FERPA </a> (links & instructions for student applicants) </li>
									<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/AS%20FORMS%20and%20DOCS/FLYER%20-%20PUBLIC%20BOARDS%20FOR%20WEBSITE.pdf"> A.S. FLYER:  Public Posting Boards on SMC Main Campus </a></li>
								</ol>
								<li class = "formstitle"> <h4> A.S. ELECTIONS </h4> </li>
								<p> See the A.S. ELECTIONS webpage;  click on the A.S. ELECTIONS title, located on the left menu list. </p>
								<li class = "formstitle"> <h4> A.S. Request Forms </h4> </li>
								<p> Note: Please complete the forms online & download for signatures where specified. </p>
								<ol>
									<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/AS%20FORMS%20and%20DOCS/AS%20PROPOSAL%20-%20SPRING%202016%20-website.pdf"> A.S. PROPOSAL SPRING 2016 </a></li>
									<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/AS%20FORMS%20and%20DOCS/How%20To%20Complete%20A%20Proposal%20updated%202015.pdf"> NEW!  MANUAL ON HOW TO COMPLETE AN  A.S. PROPOSAL-  STEP BY STEP EXPLANATION </a></li>
									<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/AS%20FORMS%20and%20DOCS/FORM%20-%20AS%20REQUISITION%20NEW%202015.pdf"> A.S. REQUISITION FORM </a></li>
									<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/AS%20FORMS%20and%20DOCS/FORM%20-%20proposal%20INVENTORY%20FORM%20-%20Fill%20in%20and%20Save%20-%20New%20Spring%202010.pdf"> A.S. Inventory Form </a></li>
									<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/AS%20FORMS%20and%20DOCS/FORM%20-%20proposal%20MULTI-LOGISTICS%20Form.pdf"> A.S. Multi-Logistics Form </a></li>
									<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/AS%20FORMS%20and%20DOCS/FORM%20-%20AS-SMC%20TRANSPORTATION%20REQUEST.pdf"> A.S. / SMC Transportation Form </a></li>
									<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/AS%20FORMS%20and%20DOCS/PACKET%20-%20FIELD%20TRIP%20FORMS-%20revised%202014.pdf"> A.S. Field Trip Forms </a> (for AS/ICC Clubs only;  classes/programs must see their dept. chairs) </li>
									<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/AS%20FORMS%20and%20DOCS/FORM%20-%20Quad%20layout.pdf"> A.S. SMC Quad Layout Diagram Form </a></li>
									<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/AS%20FORMS%20and%20DOCS/FORM%20-%20CLOCKTOWER%20LAYOUT.PDF"> A.S. SMC Clock-Tower Layout Diagram Form </a></li>
									<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/AS%20FORMS%20and%20DOCS/AS%20CONTRACT%20PACKET%20August%202015.pdf"> A.S. Contract Packet Forms </a></li>
									<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/AS%20FORMS%20and%20DOCS/FORM%20-%20SMC%20AUXILIARY%20OFFICE-%20Collection%20of%20Funds%20form.pdf"> SMC Collection of Funds Form </a></li>
									<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/AS%20FORMS%20and%20DOCS/2015%20-%20AS-ICC%20TEMPORARY%20FOOD%20STAND%20APPLICATION.pdf"> A.S. PRE-FILLED L.A. COUNTY Health Dept. Temporary Food Stand Form </a> for Clubs & AS Co-sponsored events. </li>
									<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/STATE%20FORMS%20and%20DOCS/HEALTH%20DEPT%20-%20ADDITIONAL%20-%20REVISED%20POLICY.pdf"> L.A. COUNTY HEALTH DEPT:  Additional Instructions (MUST READ & FOLLOW INSTRUCTIONS) </a></li>
									<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/STATE%20FORMS%20and%20DOCS/LA%20COUNTY%20-%20Health%20Code%20Requirements%20for%20Community%20Events%20Policy%20Version_8-24-12.pdf"> A.S. HEALTH DEPT. HANDBOOK OF REGULATIONS  (MUST READ & FOLLOW INSTRUCTIONS) </a></li>

	      					</ol>
						<h3 class="no-top-space"; id = "asStudents"> Inter-Club-Council (ICC) </h3>
							<ul id = "solid-dot-list">
								<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/ICC%20FORMS%20and%20DOCS/ICC%20Constitution%20APPROVED%209-19-2013.pdf"> ICC CONSTITUTION (Revised FALL 2013) </a></li>
								<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/ICC%20FORMS%20and%20DOCS/icc%20club%20list%20%20SP-16.pdf"> ICC CLUB LIST SPRING 2016 </a></li>
								<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/ICC%20FORMS%20and%20DOCS/EXAMPLE%20-%20CLUB%20REG%202%20FORMS.PDF"> ICC EXAMPLE REGISTRATION COMPLETED FORMS </a></li>
								<li> ICC CLUB REGISTRATION PACKETS Spring 2016: <br>
									<ul id = "circle-list-style">
										<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/ICC%20FORMS%20and%20DOCS/CLUB%20INFO%20PKT%20SP-16%20WEBSITE.PDF"> CLUB INFO PKT (Registration Info/Instruction Sheet & ICC Calendar of deadlines) </a></li>
										<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/ICC%20FORMS%20and%20DOCS/CLUB%20REG%20PKT%20SPRING%202016%20WEBSITE.pdf"> CLUB REG FORMS PKT (please read Club Info Pkt before completing these forms) </a></li>
									</ul>
								</li>
								<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/ICC%20FORMS%20and%20DOCS/CLUB%20ROW%20PACKET%20SPRING%202016.PDF"> ICC CLUB ROW PACKET - SPRING 2016​ </a></li>
								<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/ICC%20FORMS%20and%20DOCS/FLYER%20-%20CLUB%20SPECIAL%20ACCOUNT%20POLICY.pdf"> ICC Club Special Account Instructions </a></li>
								<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/ICC%20FORMS%20and%20DOCS/FORM%20-%20CLUB%20MINUTES%20FORM.pdf"> ICC Club BLANK Minutes Form </a></li>
								<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/ICC%20FORMS%20and%20DOCS/ICC%20ORIENTATION%20-%20NEW%20POWER%20POINT%20FOR%20WEBSITE.pdf"> ICC ORIENTATION </a> (download for your reference manual throughout the semester) </li>
								<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/ICC%20FORMS%20and%20DOCS/FORM%20-%20CLUB%20OFFICER%20ROSTER%20CHANGE%20FORM.pdf"> ICC OFFICER ROSTER CHANGE FORM </a> (do NOT use this form to register a club) </li>
								<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/ICC%20FORMS%20and%20DOCS/FORM%20-%20ADVISORS%20RESPONSIBILITIES.pdf"> ICC CLUB ADVISORS RESPONSIBILITIES </a></li>
								<li><a href = "http://www.smc.edu/StudentServices/AssociatedStudents/Documents/ICC%20FORMS%20and%20DOCS/ICC%20ADVISOR%20QUIZ.PDF"> ICC ADVISORS QUIZ </a></li>


	    			</div>

				<div class="col-md-6">
	      			<ul class="list-unstyled">
	      			</ul>
	  			</div>

	  			</div>
	  	<!-- END LISTS -->
	</div>
		</div>
	<!-- END INFO BLOCK -->
  		</div>
  		<!-- END CONTENT -->
	<!-- END SIDEBAR & CONTENT -->
</div>
