---
title: Get Involved
date: 2015-11-17 01:00:51
layout: page
---

<div class="row margin-bottom-40">
  <!-- A.S. Elections content -->
  	<div class="col-md-12 col-sm-12">
  		<!-- <div class="content-page"> -->
      	<div class="row margin-bottom-30" style="margin-left: 2px;">
			<!-- BEGIN INFO BLOCK -->

	  		<h4 class="no-top-space">Associated Students ELECTIONS 2016 - Be Heard - Get Involved!</h4>
	 		<br>
	  		<h3 style="text-align: center;">
	  			<b class="wow fadeIn animated animated require" style="visibility: visible; animation-name: fadeIn;">
	  				Attention Santa Monica Students:
	  			</b><br><br>
	  			<div class="quote-v1"><br>
	  				<span>A.S. ELECTION RESULTS ARE IN!<br>
	  					<em><strong>WINNERS -&nbsp;
	  						<a href="http://www.smc.edu/StudentServices/AssociatedStudents/Documents/AS%20ELECTIONS/AS%20ELECTION%20RESULTS%202016.pdf" style:"text-decoration: underline!important;" >A.S. DIRECTORS 2016-2017</a>
	  					</em></strong>
	  				</span><br><br>
	  			</div>
	  		</h3>
	  		<br>
	  		<ol><strong style="font-size:12pt;background-color:transparent">
	  				<li>
	  						<a href="http://www.smc.edu/StudentServices/AssociatedStudents/Documents/AS%20ELECTIONS/Election-Code-2016-%20brd%20approved.pdf" style="text-decoration:underline">A.S. Election&#8203; Code 2016
	  						</a> - (Election Rules &amp; Instructions)&nbsp;
	  				</li>
					<li>
							<a href="http://www.smc.edu/StudentServices/AssociatedStudents/Documents/AS%20CONSTITUTION%20AND%20BLAWS/	NEW%202014%20Approved%20Constitution%20and%20By-Laws.pdf" style="text-decoration:underline">A.S. Constitution and ByLaws </a>(	read the&nbsp; governing rules &amp; responsibilities)
					</li>
					<li>
						<a href="http://www.smc.edu/StudentServices/AssociatedStudents/Documents/AS%20ELECTIONS/			FORM%20-%20CANDIDATE%20EXPENSE%20ACCOUNT.pdf" style="text-decoration:underline">
						<span>FORM - Candidate Expense Account</span>
						</a> (complete &amp; submit with original receipts)
					</li>
				</strong>
			</ol>
			<br><br>
	  		<!-- Get Involved content -->

	  		<div class="row front-lists-v1">
	  		  	<div class="col-md-9">

	  		    	<h3>
	  		    		<b class="wow fadeIn animated animated require" style="visibility: visible; animation-name: fadeIn;">
	  		    			A.S. Commissioners
	  		    		</b>
	  		    	</h3><br>
	  		    	<p>Commissioners work in conjunction with their respective Directors.<br><br>

						Each Director may have up to 4 Commissioners to assist them in their duties.<br> <br>

						The Commissioner duties are delegated by each A.S. Director, therefore it will vary depending on the directors projects and responsibilities.<br><br>
						<strong>NOTE:</strong> Commissioner Application Packet is found in our
						<a href="/formsanddocuments/">Forms & Documents webpage.</a>

					</p>

	  		    	<br><br>

	  		    	<h3>
	  		    		<b class="wow fadeIn animated animated require" style="visibility: visible; animation-name: fadeIn;">
	  		    			Join An A.S. Committee
	  		    		</b>
	  		    	</h3><br>

	  		    	<p>
	  		    		Want to become more involved with Associated Students?<br>
	  		    		We invite you to apply to join one of our committees, or apply to represent us at campus-wide committee meetings. <br>It's a great opportunity to make a difference on campus.<br><br>

						A.S. Committee members are students who sit on the A.S. in-house committees to complete A.S. Projects, A.S. Events, A.S. Town Halls, etc.<br><br>

						A.S. Representatives are committee members who represent the student-ineterest on SMC Campus Wide Committees, such as:<br>  DPAC (District Planning Advisory Council), Academic Senate Committees, Honors Council, etc.<br><br>

						<strong>NOTE:</strong> ​Applications for these two types of committee memberships are found in our
						<a href="/formsanddocuments/">Forms & Documents webpage.</a>

					</p>
	    		</div>
	  		</div>


</div>
