---
title: About Us
date: 2015-11-17 01:00:51
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <!-- BEGIN CONTENT -->
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <div class="row margin-bottom-30">
	<!-- BEGIN INFO BLOCK -->               
	<div class="col-md-7">
	  <h2 class="no-top-space">Student Life Advisors and Staff</h2>
	  <h4>Dr. Nancy Grass, Associate Dean, student life</h4>
	  <h4>Benny Blaydas, AS Lead Counselor & ICC Advisor</h4>
	  <h4>Veronica Casillas, AS Adjunct Counselor</h4>
	  <h4>Jeff Gordon, AS Adjunct Counselor</h4>
	  <h4>Amelia Trejo, Administrative Assistant II</h4>
	  <h4>Michele Harrison, Administrative Assistant I</h4>
	  <!-- BEGIN LISTS -->
	  <div class="row front-lists-v1">
	    <div class="col-md-6">
	      <ul class="list-unstyled margin-bottom-20">
	      </ul>
	    </div>
	    <div class="col-md-6">
	      <ul class="list-unstyled">
	      </ul>
	    </div>
	  </div>
	  <!-- END LISTS -->
	</div>
	<!-- END INFO BLOCK -->   

	<!-- BEGIN CAROUSEL -->            
	<div class="col-md-5 front-carousel">
	  <div id="myCarousel" class="carousel slide">
	    <!-- Carousel items -->
	    <div class="carousel-inner">
	      <div class="item active">
                <img src='../metronic/assets/pages/img/index-sliders/slide1.jpg'>
		<div class="carousel-caption">
		  <p>Excepturi sint occaecati cupiditate non provident</p>
		</div>
	      </div>
	      <div class="item">
                <img src='../metronic/assets/pages/img/index-sliders/slide2.jpg'>
		<div class="carousel-caption">
		  <p>Ducimus qui blanditiis praesentium voluptatum</p>
		</div>
	      </div>
	      <div class="item">
                <img src='../metronic/assets/pages/img/index-sliders/slide3.jpg'>
		<div class="carousel-caption">
		  <p>Ut non libero consectetur adipiscing elit magna</p>
		</div>
	      </div>
	    </div>
	    <!-- Carousel nav -->
	    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
	      <i class="fa fa-angle-left"></i>
	    </a>
	    <a class="carousel-control right" href="#myCarousel" data-slide="next">
	      <i class="fa fa-angle-right"></i>
	    </a>
	  </div>                
	</div>
	<!-- END CAROUSEL -->
      </div>

      <div class="row margin-bottom-40">
	<!-- BEGIN TESTIMONIALS -->
	<div class="col-md-7 testimonials-v1">
	  <h2>Associated Students Board of Directors</h2>                
	  <div id="myCarousel1" class="carousel slide">
	    <!-- Carousel items -->
	    <div class="carousel-inner">
	      <div class="active item">
		<blockquote><p>The A.S. BOARD OF DIRECTORS consists of 16 student leaders. Your AS BOARD OF DIRECTORS are elected by SMC students every year in the Spring Semester.</p></blockquote>
		<p>The board's main responsibilities is to represent student interests to SMC administration and to approve spending AS funds. The AS Budget comes from the $19.50 AS Membership Sticker fee, that you pay during registration every semester or session.</p>
		<p>So, knowing who your AS representatives are and what they do is important to make the best use of your money to serve the interests of the students of Santa Monica College.</p>
		<p>The AS Meetings are "public meetings," therefore anyone can attend the meetings.  Stop by and attend some AS Meetings to find out what your board is doing for the students of SMC.  See below meeting flyer.</p>
		<p>If you are an AS Member ($19,50 sticker)- you may get involved in your student government in various ways, either through AS Positions or ICC Clubs.  See our flyer titled Student Leadership Opportunities below.  Applications for the various positions are found in our "Forms & Documents" page.</p>
		<div class="carousel-info">
		  <img src='../metronic/assets/pages/img/people/img1-small.jpg'>
		  <div class="pull-left">
		    <span class="testimonials-name">Lina Mars</span>
		    <span class="testimonials-post">Commercial Director</span>
		  </div>
		</div>
	      </div>
	      <div class="item">
		<blockquote><p>Raw denim you Mustache cliche tempor, williamsburg carles vegan helvetica probably haven't heard of them jean shorts austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p></blockquote>
		<div class="carousel-info">
		  <img src='../metronic/assets/pages/img/people/img5-small.jpg'>
		  <div class="pull-left">
		    <span class="testimonials-name">Kate Ford</span>
		    <span class="testimonials-post">Commercial Director</span>
		  </div>
		</div>
	      </div>
	      <div class="item">
		<blockquote><p>Reprehenderit butcher stache cliche tempor, williamsburg carles vegan helvetica.retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid Aliquip placeat salvia cillum iphone.</p></blockquote>
		<div class="carousel-info">
		  <img src='../metronic/assets/pages/img/people/img2-small.jpg'>
		  <div class="pull-left">
		    <span class="testimonials-name">Jake Witson</span>
		    <span class="testimonials-post">Commercial Director</span>
		  </div>
		</div>
	      </div>
	    </div>
	    <!-- Carousel nav -->
	    <a class="left-btn" href="#myCarousel1" data-slide="prev"></a>
	    <a class="right-btn" href="#myCarousel1" data-slide="next"></a>
	  </div>
	</div>
	<!-- END TESTIMONIALS --> 

	<!-- BEGIN PROGRESS BAR -->
	<div class="col-md-5 front-skills">
	  <h2 class="block">Our Skills</h2>
	  <span>UI Design 90%</span>
	  <div class="progress">
	    <div role="progressbar" class="progress-bar" style="width: 90%;"></div>
	  </div>
	  <span>Wordpress CMS 60%</span>
	  <div class="progress">
	    <div role="progressbar" class="progress-bar" style="width: 60%;"></div>
	  </div>
	  <span>HTML/CSS &amp; JavaScript 75%</span>
	  <div class="progress">
	    <div role="progressbar" class="progress-bar" style="width: 75%;"></div>
	  </div>
	</div>                       
	<!-- END PROGRESS BAR -->
      </div>

      <div class="row front-team">
	<ul class="list-unstyled">
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='../metronic/assets/pages/img/people/img2-large.jpg'>
	      <h3>
		<strong>Lina Doe</strong> 
		<small>Chief Executive Officer / CEO</small>
	      </h3>
	      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
	      <ul class="social-icons social-icons-color">
		<li><a class="facebook" data-original-title="Facebook" href="javascript:;"></a></li>
		<li><a class="twitter" data-original-title="Twitter" href="javascript:;"></a></li>
		<li><a class="googleplus" data-original-title="Goole Plus" href="javascript:;"></a></li>
		<li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li>
	      </ul>
	    </div>
	  </li>
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='../metronic/assets/pages/img/people/img1-large.jpg'>
	      <h3>
		<strong>Carles Puyol</strong> 
		<small>Chief Executive Officer / CEO</small>
	      </h3>
	      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
	      <ul class="social-icons social-icons-color">
		<li><a class="facebook" data-original-title="Facebook" href="javascript:;"></a></li>
		<li><a class="twitter" data-original-title="Twitter" href="javascript:;"></a></li>
		<li><a class="googleplus" data-original-title="Goole Plus" href="javascript:;"></a></li>
		<li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li>
	      </ul>
	    </div>
	  </li>
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='../metronic/assets/pages/img/people/img3-large.jpg'>
	      <h3>
		<strong>Andres Iniesta</strong> 
		<small>Chief Executive Officer / CEO</small>
	      </h3>
	      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
	      <ul class="social-icons social-icons-color">
		<li><a class="facebook" data-original-title="Facebook" href="javascript:;"></a></li>
		<li><a class="twitter" data-original-title="Twitter" href="javascript:;"></a></li>
		<li><a class="googleplus" data-original-title="Goole Plus" href="javascript:;"></a></li>
		<li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li>
	      </ul>
	    </div>
	  </li>
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='../metronic/assets/pages/img/people/img5-large.jpg'>
	      <h3>
		<strong>Jessica Alba</strong> 
		<small>Chief Executive Officer / CEO</small>
	      </h3>
	      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
	      <ul class="social-icons social-icons-color">
		<li><a class="facebook" data-original-title="Facebook" href="javascript:;"></a></li>
		<li><a class="twitter" data-original-title="Twitter" href="javascript:;"></a></li>
		<li><a class="googleplus" data-original-title="Goole Plus" href="javascript:;"></a></li>
		<li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li>
	      </ul>
	    </div>
	  </li>
	</ul>            
      </div>

    </div>
  </div>
  <!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->
