
<!-- div class="image-strip">
{% img https://s3.amazonaws.com/ptsteadman-images/hexo.png  %}
< /div -->


<div>
<h3><div id="asboard"><a href="http://www.smc.edu/StudentServices/AssociatedStudents/Pages/Inter-Club-Council.aspx">Intel-Club-Council</a></div>
</div></h3>

<h3><div id="asboard"><a href="http://www.smc.edu/StudentServices/AssociatedStudents/Pages/AS-Board-Agendas-Minutes.aspx">AS Board
Meetings</a></div>
</div></h3>


<h3><div id="asboard"><a href="http://www.smc.edu/StudentServices/AssociatedStudents/Pages/Joint-Council.aspx">Joint-Council</a></div>
</div></h3>


<h3><div id="asboard"><a href="http://www.smc.edu/StudentServices/AssociatedStudents/Pages/Constitution-Committee.aspx">Consitution-Commiittee</a></div>
</div></h3>


<h3><div id="asboard"><a href="http://www.smc.edu/StudentServices/AssociatedStudents/Pages/Election-Committee.aspx">Election-Committee</a></div>
</div></h3>



<h3><div id="asboard"><a href="http://www.smc.edu/StudentServices/AssociatedStudents/Pages/Finance-Committee.aspx">Finance-Committee</a></div></h3>



</div>
